<section>
	<div class="row mb-3 justify-content-center">
		<div class="col-sm-7 col-md-6">
			<div class="input-group mb-3">
			  <input type="text" class="form-control" placeholder="Search..." />
			  <div class="input-group-append">
			    <span class="input-group-text"><i class="fa fa-search"></i></span>
			  </div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 mb-3"  v-for="(item, index) in displayedPosts">
			<Imageblock v-bind:imagedata="item" v-bind:indexval="index" />
		</div>
	</div>

	<div class="clearfix btn-group col-md-2 offset-md-5">
	    <button type="button" class="btn btn-sm btn-outline-secondary" v-if="page != 1" @click="page--"> <i class="fa fa-angle-double-left" aria-hidden="true"></i> </button>
	    <button type="button" class="btn btn-sm btn-secondary" v-for="pageNumber in pages.slice(page-1, page+5)" @click="page = pageNumber"> {{pageNumber}} </button>
	    <button type="button" @click="page++" v-if="page < pages.length" class="btn btn-sm btn-outline-secondary"> <i class="fa fa-angle-double-right" aria-hidden="true"></i> </button>
	  </div>
</section>
